
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 1.42em;
  color:#fbebff;
  background-color:#381440;
}

h1 {
  font-size:3.5em; 
  font-weight: bolder;
  line-height:1em;
  text-align: center;
}


.pink { color: #fefaff; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1.5em;
  text-align: left;
  color: #faebfb;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e111900;
	   -moz-box-shadow: 0 2px 2px -2px #ffffff;
	        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0);
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 60%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

.container tr:nth-child(odd) {
	  background-color: #323c5000;
}

.container tr:nth-child(even) {
	  background-color: #5a3759d1;
}

.container th {
	  background-color: #000000;
}

.container td:first-child { color: #fbd9f7; }

.container tr:hover {
   background-color: #0c0c0c;
-webkit-box-shadow: 0 6px 6px -6px #fcebff;
	   -moz-box-shadow: 0 6px 6px -6px #f1f5ff;
	        box-shadow: 0 6px 6px -6px #040304;
}

.container td:hover {
  background-color: #fcebff;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #651069 -1px 1px, #fcebff -2px 2px, #fcebff -3px 3px, #fcebff -4px 4px, #fcebff -5px 5px, #fcebff -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}



@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}